<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<link rel = "stylesheet" type = "text/css" href = "{% static 'Css/history.css' %}">
</head>
<body>
	<div class = "wrapper">

		<div class = "header">
			<div class = "home" id = "gohome" onclick = "location.href = 'dashboard?'+'user='+localStorage.getItem('user')">
				<span>Home</span>
			</div>
			<div class = "home" id = "logout">
				<span>Logout</span>
			</div>
		</div>		
		<div>
			<br>
			<p id = "hdu">History</p>
			<p id = "hdl">History of all tickets booked</p>
		</div>
		<br>
		<div id = "tablecontainer">
			<table  id = "historytable">

				<tr>
					<th>PNR</th>
					<th>Train ID</th>
					<th>Distance</th>
					<th>Date of Journey</th>
					<th>From</th>
					<th>To</th>
					<th>Cost (Rs)</th>
					<th>Cancel ticket</th>
				</tr>
				<tr>
				</tr>
				<tr>
					{% for rows in entries %}
						{% for item in rows %}
					<td>
						{{item}}
					</td>
					{% endfor %}
					<td>
						<div id = "{{ rows.0 }}" class = "cancellation" onclick="location.href='cancelled?PNR='+{{ rows.0 }}">Cancel</div>
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</body>

</html>