<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'Css/signup.css' %}">
	<script type="text/javascript">
		val = {{exists}};
		alert(val);
		if({{exists}} == 1)
			alert('User already exists in database!');
	</script>
</head>
<body>


<div class="wrapper">
	<div class="container">
		<h1>Sign Up</h1>
		<form class="form" method = 'POST' action = ''> {% csrf_token %}
			<input type="text" placeholder="Username" name = "un" readonly onfocus = "this.removeAttribute('readonly');" required="true">
			<input type="password" placeholder="Password" name = "password" required="true">
			<input type="text" placeholder="Phone No." name = "phone" required="true">
			<input type="email" placeholder="Email ID" name = "email" required="true">
			<input type="text" placeholder="Gender" name = "gender" maxlength = "1" required="true">
			<input type="submit" value="Sign Up"> 
		</form>
		<p id = 'goto'>(Or log in <a href = "login" id="loginl">here</a>)</p>
	</div>


</div>

</body>
</html>