<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<link rel = "stylesheet" type = "text/css" href = "{% static 'Css/traininfo.css' %}">
	<scriprt src="{% static 'Scripts/jquery-2.2.1.min.js' %}">
	
</head>
<body>
	<div class = "wrapper">
		<div class = "header">
			<div class = "home" id = "gohome" onclick = "location.href = 'dashboard?'+'user='+localStorage.getItem('user')">
				<span>Home</span>
			</div>
			<div class = "home" id = "logout">
				<span>Logout</span>
			</div>
		</div>	
		<div id = "hd">
			<br>
			<p id = "hdu">Find train information</p>
			<p id = "hdl">Select the train id.<br /></p>
		</div>
		
		<div id = "selector">
			<form method = 'POST' action =''>{% csrf_token %}
				<input type="text" name="traindrop" id="dropdown" list="traindata">
					<datalist id="traindata">
						{% for train in trains %}
							<option label="{{ train.1 }}" value="{{ train.0 }}" class="options">	
						{% endfor %}
					</datalist>
				<input type="submit" id="btn">
			</form>
		</div>

	</div>
</body>

</html>