* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
body ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
body :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}
body ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}
body :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}

.header
{
  background: #141716;
  width: 100%;
  height: 70px;
  box-shadow: 0px 3px 5px #000;
}

#logout
{
  float: right;
  color: #bb2a62;
}

#logout:hover
{
  color: #1d2120;
  background: #ea4c88;
}

#gohome, #logout
{
  display: inline-block;
}

.wrapper {
  background: #1d2120;
  position: absolute;
  top: 29%;
  left: 0;
  width: 100%;
  height: 675px;
  margin-top: -200px;
  overflow: hidden;
}

.home{
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  border-radius: 3px;
  width: 80px;
  height: 80%;
  padding-top: 15px;
  -webkit-transition: background-color 0.5s;
  -webkit-transition: color 0.5s;
}

.home:hover
{
  background-color: white;
  color: #2c3338;
  cursor: pointer;
}

#hdu
{
  margin-top: 15px;
  text-align: center;
  font-size: 40px;
}

#hdl
{
  text-align: center;
  font-size: 20px;
}

@-webkit-keyframes load{
  0%  {height: 40px;width: 10px;}
  50% {height: 52%; width: 10px;}
  100% {height: 52%; width: 50%;}
}

.initial
{
  width: 50%;
  height: 52%;
  margin-left: 25%;
  margin-right: 25%;
  background: white;
  animation: load 2s;
  color: #1d2120;
  -webkit-animation: load 1s; 
  box-shadow: 2px 5px 5px #000;
  border-radius: 5px;  
  margin-bottom: 20px;
}

@-webkit-keyframes loadvals{
  0% {font-size: 0px;}
  50% {font-size: 0px;}
  60% {font-size: 10px;}
  75% {font-size: 15px;}
  100% {font-size: 20px;}
}

#contents
{
  width: 100%;
  height: 100%;
  background: white;
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  color: #1d2120;
}

#CancelButton
{
  margin-left: 31%;
  height: 40px;
  width: 200px;
  background: #1d2120;
  color: white; 
  text-align: center;
}

#ConfirmButton
{
  margin-left:100px; 
  background: #1d2120;
  width: 200px;
  height: 40px;
  text-align: center;
  color: white;
}

#CancelButton, #ConfirmButton
{

  border-radius: 5px;
  border: 1px solid white;
  padding-top: 10px;
  display: inline-block;
  -webkit-transition: background 1s;
}


#CancelButton:hover, #ConfirmButton:hover
{
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
}

#Name, #PNR, #From, #To, #DOJ, #Cost, #TOD, #Train, #Distance
{
  text-align: center;
  font-weight: bold;
  padding-top: 10px; 
  font-size: 20px;
  -webkit-animation: loadvals 2s;
}